[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "gofIG"]
	path = gofIG
	url = https://github.com/cran/gofIG
[submodule "gofgamma"]
	path = gofgamma
	url = https://github.com/cran/gofgamma
[submodule "mnt"]
	path = mnt
	url = https://github.com/cran/mnt
